# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
media/
db.sqlite3

# venv
.venv/
venv/
backend/.venv/

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
.env

# Project-specific
router/
